Redirect 301 /amalgama/ /p/proyectos/amalgama/
Redirect 301 /axetale/ /p/proyectos/axetale/
Redirect 301 /over-the-void/ /p/proyectos/over-the-void/
Redirect 301 /flowey-is-not-a-good-life-coach/ /p/proyectos/flowey-is-not-a-good-life-coach/
Redirect 301 /snowfall/ /p/proyectos/snowfall/
Redirect 301 /el-origen-de-flowey/ /p/proyectos/el-origen-de-flowey/
Redirect 301 /in-spite-of-you/ /p/proyectos/in-spite-of-you/
Redirect 301 /perros-del-futuro-pasado/ /p/proyectos/perros-del-futuro-pasado/
Redirect 301 /delta-experiment/ /p/proyectos/delta-experiment/