/*Ocultar*/
@media screen and (max-width: 600px) {
  .ocultar-div{
    display:none;
  }
}

/* Mostrar */
@media screen and (min-width: 600px) {
  .mostrar-div{
    display:none;
  }
}

/* Hover y Slider */

.imagen {
  filter: grayscale(80%);
  transition: filter 0.5s ease-in-out;
  
}

.imagen:hover {
  filter: grayscale(0%);
  
}

.contenedor {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100% !important;
}

.timer {
  font-size: 48px;
  text-align: center;
  margin-top: 20%;
}

.comments-margin {
  margin: 3%;
}

/* pagina completa */

.full-post {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

/* galeria de comics */

.cont-comic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
}
.comic {
  display: inline-block;
  width: 20%;
  margin: 1%;
  background-color: #32010A;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
  overflow: hidden;
}
.comic img {
  width: 100%;
  height: auto;
}
.comic-info {
  padding: 10px;
  text-align: center;
}
@media (min-width: 300px) {
  .comic {
    width: calc(60% - 40px);
         }
}
@media (min-width: 600px) {
 .comic {
    width: calc(50% - 40px);
        }
}
@media (min-width: 900px) {
 .comic {
    width: calc(33.33% - 40px);
        }
}
@media (min-width: 1200px) {
 .comic {
  width: calc(20% - 40px);
        }
}

/* arreglo de margen */

.margin-fix{
  margin-top: 0;
  margin-bottom: 0;
}