/*Ocultar*/
@media screen and (max-width: 600px) {
  .ocultar-div{
    display:none;
  }
}

/* Mostrar */
@media screen and (min-width: 600px) {
  .mostrar-div{
    display:none;
  }
}

/* Hover y Slider */

.imagen {
  filter: grayscale(80%);
  transition: filter 0.5s ease-in-out;
  
}

.imagen:hover {
  filter: grayscale(0%);
  
}

.contenedor {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100% !important;
}

.timer {
  font-size: 48px;
  text-align: center;
  margin-top: 20%;
}

.comments-margin {
  margin: 3%;
}
