/*Ocultar*/
@media screen and (max-width: 600px) {
  .ocultar-div{
    display:none;
  }
}

/* Mostrar */
@media screen and (min-width: 600px) {
  .mostrar-div{
    display:none;
  }
}

#slider{
  height: 500px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container{
  width: 1600px;
  margin: auto;
}

.subcontaner{
  width: 85%;
  margin: auto;
}

.slider-img{
  width: 100%;
  height: 600px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 5.2s;
  
}

@media(max-width:1600px){
  .container{
    width: 100%;
  }
}